<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Upload | Image Repository by Ratantej Madan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>
<body style="margin-top: 20px; margin-left: 30px">
<section>
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for("home") }}" class="navbar-item">
                            Home
                        </a>
                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for("login") }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for("signup") }}" class="navbar-item">
                                Sign Up
                            </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for("dashboard") }}" class="navbar-item">
                                Dashboard
                            </a>
                            <a href="{{ url_for("get_public_images") }}" class="navbar-item">
                                Public Images
                            </a>
                            <a href="{{ url_for("upload") }}" class="navbar-item">
                                Upload
                            </a>
                            <a href="{{ url_for("logout") }}" class="navbar-item">
                                Logout
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>
<section style="margin-left: 30px; margin-top: 40px; text-align: center">
    <div class="heading" style="font-size: 80px">
        <h1>
            Upload Images
        </h1>
    </div>
    <div class="subtitle">
        <p>
            Select images to upload to repository. You can select multiple images.
            But the visibility cannot be changed later. In case of multiple images,
            visibility settings chosen will be applied to entire batch of selected photos.
        </p>
    </div>
</section>
<section style="margin-left: 30px">
    <div style="font-size: 30px; margin-top: 60px;">
        {% with message = get_flashed_messages() %}
            {% if message %}
                <div class="notification is-danger">
                    {{ message[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('upload') }}" method="post"
              enctype="multipart/form-data">
            <label> Select Image(s)</label>
            <br>
            <input type="file" accept="image/*" id="img" name="img"
                   multiple="multiple">
            <br>
            <br>
            <label style="font-size: 20px"> Would you like to make this upload public? Click the checkbox for yes </label>
            <input type="checkbox" name="access_public" value="public" style="margin-left: 30px">
            <br>
            <br>
            <div style="display: inline">
            <input class="button" type="submit" value="Submit">
                <a class="button" href="{{ url_for("dashboard") }}"> Show Images </a>
            </div>
        </form>
    </div>
</section>
</body>
</html>

