<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup | Image Repository by Ratantej Madan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
</head>
<body style="margin-top: 20px; margin-left: 30px">
<section>
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-menu">
                    <div class="navbar-end">
                        <a href="{{ url_for("home") }}" class="navbar-item">
                            Home
                        </a>
                        {% if not current_user.is_authenticated %}
                            <a href="{{ url_for("login") }}" class="navbar-item">
                                Login
                            </a>
                            <a href="{{ url_for("signup") }}" class="navbar-item">
                                Sign Up
                            </a>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for("dashboard") }}" class="navbar-item">
                            Dashboard
                        </a>
                            <a href="{{ url_for("logout") }}" class="navbar-item">
                                Logout
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title">Sign Up</h3>
                <div class="box">
                    {% with message = get_flashed_messages() %}
                        {% if message %}
                            <div class="notification is-danger">
                                {{ message[0] }} Please try again, or try to <a href="{{ url_for("login") }}"> log in.</a>
                            </div>
                        {% endif %}
                    {% endwith %}
                    <form method="POST" action="/signup">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" name="username" placeholder="Username">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="password" name="password" placeholder="Password">
                            </div>
                        </div>

                        <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
